body {
  padding: 0;
  max-width: 1680px;
  margin: 0 auto;
  background: var(--bg-color, #fff);
}

:root {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: var(--text-color, #000);
}

.dark {
  --bg-color: #121212;
  --text-color: #fff;
  --border-color: #333;
}

a {
  --at-apply: text-blue-500 underline-offset-4 'dark:text-blue-300';
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre.shiki {
  --at-apply: rounded-md p-x-4 p-y-3;
}

p {
  --at-apply: leading-relaxed;
}

table {
  border-collapse: collapse;
  --at-apply: border-y-solid border-y-1 border-gray-200 'dark:border-dark-100';
}

tr,
th,
td {
  --at-apply: border-y-solid border-y-1 border-gray-200 p-4 'dark:border-dark-100';
}

td {
  --at-apply: bg-light-200 'dark:bg-dark-400';
}

hr {
  --at-apply: border-solid border-0 b-t-1 border-gray-200 'dark:border-dark-100';
}
