body {
  padding: 0;
  margin: 0 auto;
  background: var(--bg-color, #fff);
}

:root {
  --warning-text: '/* warning text */';
  --error-text: '/* error text */';
  --info-text: '/* info text */';

  /* NOT USED: refer to ../generator/content-generator.ts */
  --expander-text: '/* expander text */';
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.dark {
  --bg-color: #121212;
  --text-color: #fff;
}

a {
  --at-apply: text-blue-500 underline-offset-4 'dark:text-blue-300';
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre.shiki {
  --at-apply: rounded-md p-x-4 p-y-3 overflow-auto;
}

p {
  --at-apply: leading-relaxed;
}

table {
  border-collapse: collapse;
  --at-apply: border-y-solid border-y-1 border-gray-200 'dark:border-dark-100';
}

tr,
th,
td {
  --at-apply: border-y-solid border-y-1 border-gray-200 p-4 'dark:border-dark-100';
}

td {
  --at-apply: bg-light-200 'dark:bg-dark-400';
}

hr {
  --at-apply: border-solid border-0 b-t-1 border-gray-200 'dark:border-dark-100';
}

img {
  --at-apply: object-contain max-w-full;
}

*::-webkit-scrollbar {
  display: block;
  width: 0.3em;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  --at-apply: bg-gray-200 'dark:bg-dark-100' rounded-full;
}

.warning,
.error,
.info {
  --at-apply: p-4 rounded-md m-y-2;
}

.expander {
  --at-apply: p-x-4 rounded-md m-y-2;
}

.warning::before,
.error::before,
.info::before {
  --at-apply: text-sm font-bold;
}

.warning > p:last-of-type,
.error > p:last-of-type,
.info > p:last-of-type,
/* no '>' here as it is two levels deep */
.expander p:last-of-type {
  margin-bottom: 0;
}

.expander p:first-of-type {
  margin-top: 0;
}

.warning {
  --at-apply: 'text-yellow-800 bg-yellow-200/20 dark:bg-yellow-500/20 dark:text-yellow-100';
}

.warning::before {
  content: var(--warning-text);
}

.error {
  --at-apply: 'text-red-800 bg-red-300/20 dark:bg-red-500/20 dark:text-red-100';
}

.error::before {
  content: var(--error-text);
}

.info {
  --at-apply: 'text-blue-800 bg-blue-300/20 dark:bg-blue-500/20 dark:text-blue-100';
}

.info::before {
  content: var(--info-text);
}

.expander {
  --at-apply: 'text-gray-800 bg-gray-200/30 dark:bg-gray-500/20 dark:text-gray-100 ';
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
  :root {
    color: var(--text-color);
    --bg-color: #121212;
    --text-color: #fff;
  }
}

h1 .header-anchor,
h2 .header-anchor,
h3 .header-anchor,
h4 .header-anchor,
h5 .header-anchor,
h6 .header-anchor {
  opacity: 0;
  transition: opacity 0.2s;
  margin-left: -1em;
  text-decoration: none;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}
